/* You can add global styles to this file, and also import other style files */
@use './app/components/shared/form.style' as *;

/* Variables pour les couleurs */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --bg-task: white;
}

.dark-theme {
  --bg-color: #121212;
  // --bg-task: rgb(240, 248, 248);
  --bg-task: black;
  --text-color: #ffffff;
}

/* Utilisation des variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
