/* You can add global styles to this file, and also import other style files */
@use './app/components/shared/form.style' as *;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
